<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Edit Task</h1>
      <form>
        <div class="form-group">
          <label for="task-name">Task Name</label>
          <input type="text" id="task-name" placeholder="Enter task name...">
          <label for="task-details">Task Detail</label>
          <input type="text" id="task-details" placeholder="Enter task details...">
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select id="status">
            <option>Not started</option>
            <option>In Progress</option>
            <option>Completed</option>
          </select>
        </div>
        <button type="submit" class="btn">Save</button>
        <a href="#" class="btn cancel" style="text-decoration: none;">Cancel</a>
      </form>
    </div>
  </body>
</html> 